.wrapper {
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
}

.menu li {
    width: 33.33%;
}

@media screen and (max-width: 480px) {
    .menu {
        flex-direction: column;
    }
}