.recipesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 48px;
}

.addRow {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}