<div class="menu">
  <app-amenu></app-amenu>
</div>

<div class="addRow">
  <button nz-button nzType="primary" (click)="showAddModal()">
    Add recipe
  </button>
</div>

<div class="recipesContainer">
  <div *ngFor="let recipe of recipes">
    <nz-card
      style="width: 300px"
      [nzCover]="coverTemplate"
      [nzActions]="[actionExpand, actionDelete]"
    >
      <nz-card-meta
        nzTitle="{{ recipe.recipeName }}"
        nzDescription="Timp de gatire: {{ recipe.cookingTime }} minute"
        style="white-space: pre-line"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="image" src="assets/bake.jpg" />
    </ng-template>
    <ng-template #actionExpand>
      <span
        nz-icon
        nzType="expand"
        (click)="showExpandModal(recipe.recipeName)"
      ></span>
    </ng-template>
    <ng-template #actionDelete>
      <span
        nz-icon
        nzType="delete"
        (click)="showDeleteConfirm(recipe.idRecipe)"
      ></span>
    </ng-template>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isAddVisible"
  [nzTitle]="modalAddTitle"
  [nzContent]="modalAddContent"
  [nzFooter]="modalAddFooter"
  (nzOnCancel)="handleAddCancel()"
>
  <ng-template #modalAddTitle>Add new ingredient</ng-template>

  <ng-template #modalAddContent>
    <input
      nz-input
      [(ngModel)]="addRecipe.recipeName"
      (input)="onChangeAddValue()"
      placeholder="Recipe name"
    />
    <nz-select
      nzMode="multiple"
      nzPlaceHolder="Ingredients"
      style="width: 100%; margin-top: 12px"
      [(ngModel)]="selectedIngredients"
    >
      <nz-option
        *ngFor="let ingredient of ingredients"
        [nzLabel]="ingredient.ingredientName"
        [nzValue]="ingredient.idIngredient"
        [nzHide]="!isNotSelected(ingredient.ingredientName)"
      ></nz-option>
    </nz-select>
    <nz-select
      nzMode="multiple"
      nzPlaceHolder="Ingredients masses"
      style="width: 100%; margin-top: 12px"
      [(ngModel)]="selectedIngredientMasses"
    >
      <nz-option
        *ngFor="let ingredientMass of ingredientMasses"
        [nzLabel]="ingredientMass"
        [nzValue]="ingredientMass"
      ></nz-option>
    </nz-select>
    <input
      nz-input
      [(ngModel)]="addRecipe.recipeInstructions"
      (input)="onChangeAddValue()"
      placeholder="Recipe instructions"
      style="margin-top: 12px"
    />
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Cooking time"
      [(ngModel)]="addRecipe.cookingTime"
      [nzMin]="1"
      [nzStep]="1"
    ></nz-input-number>
    <input
      nz-input
      type="file"
      style="margin-top: 12px"
      [(ngModel)]="addRecipe.photo_URL"
    />
  </ng-template>

  <ng-template #modalAddFooter>
    <button nz-button nzType="default" (click)="handleAddCancel()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleAddOk()"
      [disabled]="inputAddDisabled"
    >
      Add
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isExpandVisible"
  [nzTitle]="modalExpandTitle"
  [nzContent]="modalExpandContent"
  [nzFooter]="modalExpandFooter"
  (nzOnCancel)="handleExpandCancel()"
>
  <ng-template #modalExpandTitle>Recipe details</ng-template>

  <ng-template #modalExpandContent>
    <p><strong>Ingrediente:</strong></p>
    <p *ngFor="let ingredient of listOfCurrentIngredients">
      {{ ingredient.ingredientName }} - {{ ingredient.grams }} grame
    </p>
    <p>
      <strong>Mod de preparare: </strong
      >{{ listOfCurrentIngredients[0].recipeInstructions }}
    </p>
  </ng-template>

  <ng-template #modalExpandFooter>
    <button nz-button nzType="default" (click)="handleExpandCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>
