<div class="menu">
  <app-amenu></app-amenu>
</div>

<div class="addRow">
  <button nz-button nzType="primary" (click)="showAddModal()">
    Add ingredient
  </button>
</div>

<div class="recipesContainer">
  <nz-card
    style="width: 300px"
    [nzCover]="coverTemplate"
    [nzActions]="[actionEdit, actionDelete]"
    *ngFor="let recipe of recipes"
  >
    <nz-card-meta
      nzTitle="{{ recipe.recipe_name }}"
      nzDescription="Mod de preparare: {{ recipe.recipe_instructions }}
      Timp de gatire: {{ recipe.cookingTime }}"
      style="white-space: pre-line"
    ></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="image" src="assets/bake.jpg" />
  </ng-template>
  <ng-template #actionEdit>
    <span nz-icon nzType="edit"></span>
  </ng-template>
  <ng-template #actionDelete>
    <span nz-icon nzType="delete"></span>
  </ng-template>
</div>

<nz-modal
  [(nzVisible)]="isAddVisible"
  [nzTitle]="modalAddTitle"
  [nzContent]="modalAddContent"
  [nzFooter]="modalAddFooter"
  (nzOnCancel)="handleAddCancel()"
>
  <ng-template #modalAddTitle>Add new ingredient</ng-template>

  <ng-template #modalAddContent>
    <input
      nz-input
      [value]="inputAddValue"
      (input)="onChangeAddValue()"
      placeholder="Recipe name"
    />
    <nz-select
      nzMode="multiple"
      nzPlaceHolder="Ingredients"
      style="width: 100%; margin-top: 12px"
      [(ngModel)]="listOfSelectedValue"
    >
      <nz-option
        *ngFor="let option of listOfOption"
        [nzLabel]="option"
        [nzValue]="option"
        [nzHide]="!isNotSelected(option)"
      ></nz-option>
    </nz-select>
    <input
      nz-input
      [value]="inputAddValue"
      (input)="onChangeAddValue()"
      placeholder="Recipe instructions"
      style="margin-top: 12px"
    />
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Cooking time"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
    ></nz-input-number>
  </ng-template>

  <ng-template #modalAddFooter>
    <button nz-button nzType="default" (click)="handleAddCancel()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleAddOk()"
      [disabled]="inputAddDisabled"
    >
      Add
    </button>
  </ng-template>
</nz-modal>
