<div class="menu">
  <app-amenu></app-amenu>
</div>
<div class="addRow">
  <button nz-button nzType="primary" (click)="showAddModal()">
    Add ingredient
  </button>
</div>
<div class="ingredientsWrapper">
  <div *ngFor="let ingredient of ingredients">
    <nz-card style="width: 300px" [nzActions]="[actionEdit, actionDelete]">
      <nz-card-meta
        nzTitle="{{ ingredient.ingredientName }}"
        nzDescription="Category: {{ ingredient.ingredientType }}
      Calories per 100g: {{ ingredient.caloriesNOPer100g }}
      Proteins per 100g: {{ ingredient.proteinNoPer100g }}
      Carbo per 100g: {{ ingredient.carboNoPer100g }}
      Fats per 100g: {{ ingredient.fatsNoPer100g }}"
        style="white-space: pre-line"
      ></nz-card-meta>
    </nz-card>
    <ng-template #actionEdit>
      <span nz-icon nzType="edit" (click)="showEditModal(ingredient)"></span>
    </ng-template>
    <ng-template #actionDelete>
      <span
        nz-icon
        nzType="delete"
        (click)="showDeleteConfirm(ingredient.idIngredient)"
      ></span>
    </ng-template>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isAddVisible"
  [nzTitle]="modalAddTitle"
  [nzContent]="modalAddContent"
  [nzFooter]="modalAddFooter"
  (nzOnCancel)="handleAddCancel()"
>
  <ng-template #modalAddTitle>Add new ingredient</ng-template>

  <ng-template #modalAddContent>
    <input
      nz-input
      [(ngModel)]="addIngredient.ingredientName"
      (input)="onChangeAddValue()"
      placeholder="Ingredient name"
    />
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select an ingredient type"
      style="margin-top: 12px; width: 100%"
      [(ngModel)]="addIngredient.ingredientType"
    >
      <nz-option
        *ngFor="let ingredientType of ingredientTypes"
        [nzValue]="ingredientType.ingredientType"
        [nzLabel]="ingredientType.ingredientType"
      ></nz-option>
    </nz-select>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Calories per 100g"
      [(ngModel)]="addIngredient.caloriesNOPer100g"
      [nzStep]="1"
    ></nz-input-number>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Proteins per 100g"
      [(ngModel)]="addIngredient.proteinNoPer100g"
      [nzStep]="1"
    ></nz-input-number>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Carbo per 100g"
      [(ngModel)]="addIngredient.carboNoPer100g"
      [nzStep]="1"
    ></nz-input-number>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Fats per 100g"
      [(ngModel)]="addIngredient.fatsNoPer100g"
      [nzStep]="1"
    ></nz-input-number>
  </ng-template>

  <ng-template #modalAddFooter>
    <button nz-button nzType="default" (click)="handleAddCancel()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleAddOk()"
      [disabled]="inputAddDisabled"
    >
      Add
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isEditVisible"
  [nzTitle]="modalEditTitle"
  [nzContent]="modalEditContent"
  [nzFooter]="modalEditFooter"
  (nzOnCancel)="handleEditCancel()"
>
  <ng-template #modalEditTitle>Edit ingredient</ng-template>

  <ng-template #modalEditContent>
    <input
      nz-input
      [(ngModel)]="editIngredient.ingredientName"
      (input)="onChangeEditValue()"
      placeholder="Ingredient name"
    />
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select an ingredient type"
      style="margin-top: 12px; width: 100%"
      [(ngModel)]="editIngredient.ingredientType"
    >
      <nz-option
        *ngFor="let ingredientType of ingredientTypes"
        [nzValue]="ingredientType.ingredientType"
        [nzLabel]="ingredientType.ingredientType"
      ></nz-option>
    </nz-select>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Calories per 100g"
      [(ngModel)]="editIngredient.caloriesNOPer100g"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
    ></nz-input-number>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Proteins per 100g"
      [(ngModel)]="editIngredient.proteinNoPer100g"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
    ></nz-input-number>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Carbo per 100g"
      [(ngModel)]="editIngredient.carboNoPer100g"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
    ></nz-input-number>
    <nz-input-number
      style="width: 100%; margin-top: 12px"
      nzPlaceHolder="Fats per 100g"
      [(ngModel)]="editIngredient.fatsNoPer100g"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
    ></nz-input-number>
  </ng-template>

  <ng-template #modalEditFooter>
    <button nz-button nzType="default" (click)="handleEditCancel()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="handleEditOk()">Edit</button>
  </ng-template>
</nz-modal>
