.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }


  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    margin-top: 24px;
    padding: 24px;
    background: #fff;
    min-height: 360px;
    display: flex;
    justify-content: center;
    height: 77vh;
  }

  nz-footer {
    text-align: center;
  }

  h1 {
    margin-left: 15px;
  }

.sticky-menu {
    top: 0;
    position: sticky;
  }

 nz-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
 }

 .water-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
 }

 .water-monitor{
  position:absolute;
  top: 60%;
  left: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25%;
  height: 25%;
  padding: 0 50px;
 }

 .advice-cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  gap: 24px;
  padding: 0 50px;
}

.greetings{
  //align top-left inside parent
  top: 0;
  left: 0;

}

@media screen and (max-width: 600px) {
  .water-monitor{
  position:relative;
  top: 45%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
  height: 60%;
  }
  .water-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
  }
  nz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 10px;
  }
  
}

