<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo" (click)="goToHome()"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="sticky-menu">
      <li nz-submenu nzTitle="Train" nzIcon="fire">
        <ul>
          <li nz-menu-item>Exercices</li>
          <li nz-menu-item>Workouts</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Meals" nzIcon="experiment">
        <ul>
          <li nz-menu-item>Recipes</li>
          <li nz-menu-item>My Recipes</li>
        </ul>
      </li>
      <li nz-menu-item (click)="goToWellness()">
        <span nz-icon nzType="heart"></span>
        <span>Wellness</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="coffee"></span>
        <span>Water</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="logout"></span>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1>Health IQ</h1>
      <p>50 <span nz-icon nzType="dollar" nzTheme="outline"></span></p>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div class="wellness-card"></div>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
