.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }


  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    margin-top: 24px;
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }

  h1 {
    margin-left: 15px;
  }

.sticky-menu {
    top: 0;
    position: sticky;
  }

 nz-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
 }

 .ingredientTypeArea {
    width: 100%;
    overflow: auto;
    height: 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 12px;
 }

 .ingredientType {
    width: 120px;
    height: 20px;
    background-color: rgb(251, 238, 224);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
 }

 .ingredientTypeActive {
  background-color: rgb(250, 217, 182);
 }

 .recipesArea {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    gap: 24px;
 }

@media screen and (max-width: 600px) {
  nz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 10px;
  }
}